In [ ]:
import warnings, os
import datetime as dt
import itertools as it
from numpy import nan, inf
import numpy as np
import pandas as pd

warnings.filterwarnings('ignore')
pd.set_option('display.width',       None)
pd.set_option('display.max_columns', None)

# Load

In [ ]:
Raw = pd.read_csv('Storage/Raw.csv', parse_dates=['datetime'])
Raw.head()

In [ ]:
def QUERY_SELECT(Raw, SYMBOLS, TFRAMES):
    return Raw[Raw['symbol'].isin(SYMBOLS) & Raw['tf'].isin(TFRAMES)] .reset_index(drop=1)

Query = QUERY_SELECT(Raw, SYMBOLS=['WIN$'], TFRAMES=['D1'])
Query.head()

# Data

In [ ]:
def FORMAT_SOURCE(Query):
    Src = pd.DataFrame()
    Src[['A','Z']]                      = Query[['a','z']]
    Src[['Symbol','TF']]                = Query[['symbol','tf']]
    Src['Datetime']                     = Query['datetime']
    Src[['Ticks','Volume']]             = Query[['tick_volume','real_volume']]
    Src[['Open','High','Low','Close']]  = Query[['open','high','low','close']]
    Src[['Price']]                      = Query[['close']]

    Src['Change']   = (Src['Close'] - Src['Open'])
    Src['Hilo']     = (Src['High']  - Src['Low'])
    return Src 

Src = FORMAT_SOURCE(Query)
Src.head()

In [ ]:
def CALCULATIONS(Src):
    Calc = pd.DataFrame(Src)
    Calc[f'High +{1}']      = Calc['High']  .shift(-1)
    Calc[f'Low +{1}']       = Calc['Low']   .shift(-1)
    Calc[f'Close +{1}']     = Calc['Close'] .shift(-1)


    Calc['High in max']     =               Calc['High +1'] < Calc['High']
    Calc['Low in min']      = Calc['Low'] < Calc['Low +1']

    Calc['High out max']    =                  Calc['High'] < Calc['High +1']
    Calc['Low out min']     = Calc['Low +1'] < Calc['Low']


    Calc['Close in max']    =               Calc['Close +1'] < Calc['High']
    Calc['Close in min']    = Calc['Low'] < Calc['Close +1']

    Calc['Close out max']   =                    Calc['High'] < Calc['Close +1']
    Calc['Close out min']   = Calc['Close +1'] < Calc['Low']


    Calc['Break 0'] = (Calc['Close in min']  & Calc['Close in max'])   &  (Calc['Low in min']  & Calc['High in max'])
    Calc['Break 1'] = (Calc['Close in min']  & Calc['Close in max'])   &  (Calc['Low out min'] | Calc['High out max'])
    Calc['Break 2'] = (Calc['Close out min'] | Calc['Close out max'])  &  (Calc['Low out min'] | Calc['High out max'])
    return Calc


Calc = CALCULATIONS(Src)
Calc.head()

In [20]:
def STATS(Calc):
    BINS = [500,1000,1500,2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000,7500,8000]
    pipe = []
    for b in BINS:
        Df = Calc[Calc['Hilo'] > b] #.reset_index(drop=1)
        pipe.append({
            'Hilo D0 >': b,
            'Count':    len(Df),
            'Inside':   np.round(Df['Break 0'].mean()*100, 1), 
            'Test':     np.round(Df['Break 1'].mean()*100, 1), 
            'Break':    np.round(Df['Break 2'].mean()*100, 1), 
        })
    pass
    return pd.DataFrame(pipe)

STATS(Calc)

    Hilo D0 >  Count  Inside  Test  Break
0         500   1245    11.4  35.3   52.4
1        1000   1216    11.7  35.4   52.1
2        1500   1044    13.4  35.6   50.2
3        2000    777    15.1  35.4   48.9
4        2500    540    15.9  36.7   46.9
5        3000    350    18.6  36.6   44.6
6        3500    212    21.2  37.3   41.0
7        4000    143    21.7  35.7   42.0
8        4500     90    24.4  32.2   42.2
9        5000     49    22.4  34.7   40.8
10       5500     25    24.0  36.0   36.0
11       6000     13    15.4  38.5   46.2
12       6500      8    25.0  25.0   50.0
13       7000      7    28.6  28.6   42.9
14       7500      5    40.0  40.0   20.0
15       8000      1   100.0   0.0    0.0

# Snippets

In [ ]:
def CALCULATIONS(Src):
    Calc = pd.DataFrame(Src)
    Calc[f'High +{1}']      = Calc['High']  .shift(-1)
    Calc[f'Low +{1}']       = Calc['Low']   .shift(-1)
    Calc[f'Close +{1}']     = Calc['Close'] .shift(-1)


    Calc['High in max']     =               Calc['High +1'] < Calc['High']
    Calc['Low in min']      = Calc['Low'] < Calc['Low +1']

    Calc['High out max']    =                  Calc['High'] < Calc['High +1']
    Calc['Low out min']     = Calc['Low +1'] < Calc['Low']


    Calc['Close in max']    =               Calc['Close +1'] < Calc['High']
    Calc['Close in min']    = Calc['Low'] < Calc['Close +1']

    Calc['Close out max']   =                    Calc['High'] < Calc['Close +1']
    Calc['Close out min']   = Calc['Close +1'] < Calc['Low']


    Calc['Break 0'] = (Calc['Close in min']  & Calc['Close in max'])   &  (Calc['Low in min']  & Calc['High in max'])
    Calc['Break 1'] = (Calc['Close in min']  & Calc['Close in max'])   &  (Calc['Low out min'] | Calc['High out max'])
    Calc['Break 2'] = (Calc['Close out min'] | Calc['Close out max'])  &  (Calc['Low out min'] | Calc['High out max'])
    return Calc

In [21]:
def STATS(Calc):
    BINS = [500,1000,1500,2000,2500,3000,3500,4000,4500,5000,5500,6000,6500,7000,7500,8000]
    pipe = []
    for b in BINS:
        Df = Calc[Calc['Hilo'] > b] #.reset_index(drop=1)
        pipe.append({
            'Hilo D0 >': b,
            'Count':    len(Df),
            'Inside':   np.round(Df['Break 0'].mean()*100, 1), 
            'Test':     np.round(Df['Break 1'].mean()*100, 1), 
            'Break':    np.round(Df['Break 2'].mean()*100, 1), 
        })
    pass
    return pd.DataFrame(pipe)

STATS(Calc)

    Hilo D0 >  Count  Inside  Test  Break
0         500   1245    11.4  35.3   52.4
1        1000   1216    11.7  35.4   52.1
2        1500   1044    13.4  35.6   50.2
3        2000    777    15.1  35.4   48.9
4        2500    540    15.9  36.7   46.9
5        3000    350    18.6  36.6   44.6
6        3500    212    21.2  37.3   41.0
7        4000    143    21.7  35.7   42.0
8        4500     90    24.4  32.2   42.2
9        5000     49    22.4  34.7   40.8
10       5500     25    24.0  36.0   36.0
11       6000     13    15.4  38.5   46.2
12       6500      8    25.0  25.0   50.0
13       7000      7    28.6  28.6   42.9
14       7500      5    40.0  40.0   20.0
15       8000      1   100.0   0.0    0.0