In [ ]:
import warnings, os
import datetime as dt
import itertools as it
from numpy import nan, inf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')
pd.set_option('display.width',       None)
pd.set_option('display.max_columns', None)

# Load

In [ ]:
Raw = pd.read_csv('Storage/Raw.csv', parse_dates=['datetime'])
Raw.head()

In [ ]:
def QUERY_SELECT(Raw, SYMBOLS, TFRAMES):
    return Raw[Raw['symbol'].isin(SYMBOLS) & Raw['tf'].isin(TFRAMES)] .reset_index(drop=1)

Query = QUERY_SELECT(Raw, SYMBOLS=['WIN$'], TFRAMES=['H1'])
Query.head()

# Data

In [ ]:
def FORMAT_SOURCE(Query):
    Src = pd.DataFrame()
    Src[['A','Z']]       = Query[['a','z']]
    Src[['Symbol','TF']] = Query[['symbol','tf']]
    
    Src['Datetime']     = Query['datetime']
    Src['Date']         = Query['datetime'].dt.date
    Src['Time']         = Query['datetime'].dt.time
    
    Src[['Ticks','Volume']]             = Query[['tick_volume','real_volume']]
    Src[['Open','High','Low','Close']]  = Query[['open','high','low','close']]
    Src[['Price']]                      = Query[['close']]
    return Src 

Src = FORMAT_SOURCE(Query)
Src.head()

In [ ]:
def CALCULATIONS(Src):
    Calc    = pd.DataFrame(Src)
    Calc_by = Calc.groupby(['Symbol','TF','Date'], sort=0, group_keys=0)

    Calc['Time+1']      = (Calc['Datetime'] + pd.Timedelta(hours=1)).dt.time

    Calc['Day Open']    = Calc_by['Open']  .transform('first')
    Calc['Day High']    = Calc_by['High']  .transform('max')
    Calc['Day Low']     = Calc_by['Low']   .transform('min')
    Calc['Day Close']   = Calc_by['Close'] .transform('last')
    Calc['Day Hilo']    = Calc['Day High'] - Calc['Day Low']

    Calc['ID High']     = Calc_by['High'] .expanding().max()    .reset_index(drop=1)
    Calc['ID Low']      = Calc_by['Low']  .expanding().min()    .reset_index(drop=1)
    Calc['ID Hilo']     = Calc['ID High'] - Calc['ID Low']

    Calc['Bwd HL']      = Calc['ID Hilo']

    Calc['Bwd Chg']     =                     Calc['Open'] - Calc['Day Open']
    Calc['Fwd Chg']     = Calc['Day Close'] - Calc['Open']

    Calc['Bwd Chg Abs'] = Calc['Bwd Chg'].abs()
    Calc['Fwd Chg Abs'] = Calc['Fwd Chg'].abs()


    Calc['Fwd Bull']    = Calc['Fwd Chg'].apply(lambda x: +1 if (x >= 0) else nan)
    Calc['Fwd Bear']    = Calc['Fwd Chg'].apply(lambda x: -1 if (x <  0) else nan)

    Calc['Fwd Chg Pos'] = Calc['Fwd Chg Abs'] * Calc['Fwd Bull']
    Calc['Fwd Chg Neg'] = Calc['Fwd Chg Abs'] * Calc['Fwd Bear']

    Calc['Fwd HL']      = Calc['Day Hilo'] - Calc['ID Hilo']
    Calc['Fwd HL Pos']  = Calc['Fwd HL'] * Calc['Fwd Bull']
    Calc['Fwd HL Neg']  = Calc['Fwd HL'] * Calc['Fwd Bear']
    return Calc

Calc = CALCULATIONS(Src)
Calc.head()

# Stats 1

In [62]:
Calc.groupby('Time')[['Fwd Chg']].describe().round(0).astype(int)

         Fwd Chg
           count mean   std   min   25% 50%   75%   max
Time
09:00:00    1241  -26  1712 -7641 -1083  64  1015  5768
10:00:00    1241  -20  1597 -6425  -899  16   938  5420
11:00:00    1241  -41  1369 -7315  -696  32   720  5297
12:00:00    1241    0  1189 -6885  -614  18   650  5111
13:00:00    1246  -13  1071 -7834  -503  16   542  5224
14:00:00    1245  -17   955 -7018  -489  10   474  4585
15:00:00    1245  -14   889 -8005  -406   7   447  5697
16:00:00    1245   -4   708 -3739  -312  25   335  5544
17:00:00    1245   -8   478 -4214  -235  10   229  2005
18:00:00     676   19   285 -2530  -130  18   145  1121

In [63]:
Calc.groupby('Time')[['Fwd Chg Abs']].describe().round(0).astype(int)

         Fwd Chg Abs
               count  mean   std min  25%   50%   75%   max
Time
09:00:00        1241  1327  1081   0  505  1049  1849  7641
10:00:00        1241  1209  1043   0  423   914  1760  6425
11:00:00        1241  1005   930   0  332   712  1430  7315
12:00:00        1241   859   822   0  285   630  1192  6885
13:00:00        1246   752   762   0  234   520  1010  7834
14:00:00        1245   676   674   0  220   480   923  7018
15:00:00        1245   608   648   0  188   433   801  8005
16:00:00        1245   482   517   0  158   325   639  5544
17:00:00        1245   331   345   0  118   232   421  4214
18:00:00         676   197   207   0   66   140   267  2530

In [64]:
Calc.groupby('Time')[['Fwd Chg Pos']].describe().round(0).astype(int)

         Fwd Chg Pos
               count  mean   std min  25%  50%   75%   max
Time
09:00:00         642  1258  1022   0  452  980  1823  5768
10:00:00         632  1167   999   0  428  901  1648  5420
11:00:00         631   948   822   0  314  712  1353  5297
12:00:00         632   844   760   0  298  640  1222  5111
13:00:00         639   720   692   0  233  518   978  5224
14:00:00         628   654   630   0  228  469   901  4585
15:00:00         628   589   594   0  195  442   776  5697
16:00:00         643   463   510   0  158  318   610  5544
17:00:00         638   316   304   0  118  224   414  2005
18:00:00         365   201   193   0   68  134   297  1121

In [65]:
Calc.groupby('Time')[['Fwd Chg Neg']].describe().round(0).astype(int)

         Fwd Chg Neg
               count  mean   std   min   25%   50%  75% max
Time
09:00:00         599 -1402  1136 -7641 -1894 -1115 -578  -6
10:00:00         609 -1253  1086 -6425 -1811  -922 -415  -6
11:00:00         610 -1064  1027 -7315 -1549  -712 -354  -6
12:00:00         609  -875   882 -6885 -1175  -618 -258  -7
13:00:00         607  -785   828 -7834 -1046  -530 -236  -5
14:00:00         617  -699   716 -7018  -977  -496 -210  -5
15:00:00         617  -627   699 -8005  -836  -409 -180  -5
16:00:00         602  -503   525 -3739  -672  -329 -158  -5
17:00:00         607  -348   383 -4214  -450  -240 -118  -5
18:00:00         311  -194   222 -2530  -256  -142  -64  -5

In [66]:
# Calc.groupby('Time')[['Fwd HL']].describe().round(0).astype(int)

In [67]:
# Calc.groupby('Time')[['Fwd HL Pos']].describe().round(0).astype(int)

In [68]:
# Calc.groupby('Time')[['Fwd HL Neg']].describe().round(0).astype(int)

# Stats 2

In [69]:
def STATS(Calc, HR, X, Y):
    pipe = []
    for b in [100, 200, 500, 800, 1000, 1200, 1500, 1800, 2000, 2200, 2500, 2800, 3000, 3200, 3500, 3800, 4000, 4200, 4500, 4800, 5000]:

        Df = Calc[(Calc['Time'] == dt.time(HR,00)) & (Calc[X] > b)]

        pipe.append({
            'Time =': dt.time(HR,00),
            f'{X} >': b,
            **Df[Y].describe().round(0).astype(int)
        })
    pass
    return pd.DataFrame(pipe)

In [70]:
STATS(Calc, HR=13, X='Bwd Chg Abs', Y='Fwd Chg Abs')

      Time =  Bwd Chg Abs >  count  mean   std   min   25%   50%   75%   max
0   13:00:00            100   1169   752   767     0   235   520  1010  7834
1   13:00:00            200   1077   752   746     0   234   522  1012  5224
2   13:00:00            500    859   782   770     0   250   561  1043  5224
3   13:00:00            800    663   799   776     0   264   573  1071  5224
4   13:00:00           1000    534   840   797     0   272   611  1126  5224
5   13:00:00           1200    434   853   798     0   282   636  1124  5224
6   13:00:00           1500    297   922   858     5   289   715  1216  5224
7   13:00:00           1800    185   975   851     5   303   778  1319  4886
8   13:00:00           2000    139  1019   887     5   343   835  1378  4886
9   13:00:00           2200    109  1029   873     5   340   836  1498  4886
10  13:00:00           2500     62  1099   861     5   413   898  1674  3509
11  13:00:00           2800     39  1080   776    43   564   901  1490  3509
12  13:00:00           3000     27  1224   813   159   614  1071  1734  3509
13  13:00:00           3200     20  1353   866   159   694  1158  1814  3509
14  13:00:00           3500     14  1520   876   409   808  1490  1924  3509
15  13:00:00           3800      8  1670  1012   546   966  1458  2144  3509
16  13:00:00           4000      4  1981  1152   728  1463  1844  2362  3509
17  13:00:00           4200      3  2072  1393   728  1354  1979  2744  3509
18  13:00:00           4500      3  2072  1393   728  1354  1979  2744  3509
19  13:00:00           4800      2  2744  1082  1979  2362  2744  3126  3509
20  13:00:00           5000      2  2744  1082  1979  2362  2744  3126  3509

In [71]:
STATS(Calc, HR=13, X='Bwd Chg Abs', Y='Fwd HL')

      Time =  Bwd Chg Abs >  count  mean   std  min  25%  50%   75%   max
0   13:00:00            100   1169   440   638    0    0  202   633  5824
1   13:00:00            200   1077   435   617    0    0  199   627  5012
2   13:00:00            500    859   437   626    0    0  207   622  5012
3   13:00:00            800    663   441   616    0    0  208   620  3895
4   13:00:00           1000    534   472   640    0    0  221   703  3778
5   13:00:00           1200    434   470   632    0    0  223   682  3778
6   13:00:00           1500    297   480   639    0    0  223   760  3778
7   13:00:00           1800    185   486   646    0    0  217   788  3182
8   13:00:00           2000    139   511   664    0    0  251   820  3182
9   13:00:00           2200    109   495   669    0    0  207   788  3182
10  13:00:00           2500     62   503   659    0    0  231   770  2650
11  13:00:00           2800     39   527   664    0    0  366   828  2579
12  13:00:00           3000     27   524   561    0    0  540   838  1669
13  13:00:00           3200     20   531   580    0    0  502   838  1669
14  13:00:00           3500     14   624   637    0    0  670   992  1669
15  13:00:00           3800      8   481   602    0    0  318   738  1669
16  13:00:00           4000      4   417   834    0    0    0   417  1669
17  13:00:00           4200      3   556   964    0    0    0   834  1669
18  13:00:00           4500      3   556   964    0    0    0   834  1669
19  13:00:00           4800      2   834  1180    0  417  834  1252  1669
20  13:00:00           5000      2   834  1180    0  417  834  1252  1669

In [72]:
STATS(Calc, HR=13, X='Bwd HL', Y='Fwd Chg Abs')

      Time =  Bwd HL >  count  mean   std  min  25%   50%   75%   max
0   13:00:00       100   1246   752   762    0  234   520  1010  7834
1   13:00:00       200   1246   752   762    0  234   520  1010  7834
2   13:00:00       500   1246   752   762    0  234   520  1010  7834
3   13:00:00       800   1228   757   765    0  236   528  1019  7834
4   13:00:00      1000   1177   767   768    0  246   545  1034  7834
5   13:00:00      1200   1089   789   779    0  251   566  1070  7834
6   13:00:00      1500    925   835   815    0  273   593  1132  7834
7   13:00:00      1800    725   912   870    0  300   665  1225  7834
8   13:00:00      2000    602   939   900    0  295   712  1278  7834
9   13:00:00      2200    482   994   946    0  309   760  1359  7834
10  13:00:00      2500    337  1058   991    0  352   806  1546  7834
11  13:00:00      2800    232  1021   905    0  340   790  1595  4941
12  13:00:00      3000    181  1067   940    0  343   833  1636  4941
13  13:00:00      3200    138  1162   988    0  412   912  1704  4941
14  13:00:00      3500     84  1203  1019    0  421   926  1696  4886
15  13:00:00      3800     61  1207   972    0  467   929  1685  4019
16  13:00:00      4000     47  1184   937    0  446   929  1696  4013
17  13:00:00      4200     34  1239   955    0  521  1058  1746  4013
18  13:00:00      4500     19  1398  1136    0  408  1359  1906  4013
19  13:00:00      4800     11  1832  1226    0  968  1759  2365  4013
20  13:00:00      5000      7  1755  1065  513  968  1708  2308  3509

In [76]:
STATS(Calc, HR=13, X='Bwd HL', Y='Fwd HL')

      Time =  Bwd HL >  count  mean   std  min  25%  50%   75%   max
0   13:00:00       100   1246   442   642    0    0  200   640  5824
1   13:00:00       200   1246   442   642    0    0  200   640  5824
2   13:00:00       500   1246   442   642    0    0  200   640  5824
3   13:00:00       800   1228   445   645    0    0  202   645  5824
4   13:00:00      1000   1177   447   647    0    0  203   648  5824
5   13:00:00      1200   1089   455   650    0    0  207   682  5824
6   13:00:00      1500    925   480   682    0    0  219   704  5824
7   13:00:00      1800    725   522   730    0    0  238   774  5824
8   13:00:00      2000    602   532   738    0    0  251   794  5824
9   13:00:00      2200    482   563   780    0    0  253   839  5824
10  13:00:00      2500    337   579   806    0    0  276   871  5824
11  13:00:00      2800    232   546   706    0    0  286   844  3895
12  13:00:00      3000    181   539   714    0    0  264   859  3895
13  13:00:00      3200    138   601   760    0    0  374   910  3895
14  13:00:00      3500     84   631   774    0    0  386  1044  3182
15  13:00:00      3800     61   542   683    0    0  366   817  3012
16  13:00:00      4000     47   531   674    0    0  366   838  3012
17  13:00:00      4200     34   510   706    0    0    0   823  3012
18  13:00:00      4500     19   628   843    0    0    0  1064  3012
19  13:00:00      4800     11   730  1007    0    0    0  1321  3012
20  13:00:00      5000      7   339   642    0    0    0   352  1669

# Snippets

In [74]:
def CALCULATIONS(Src):
    Calc    = pd.DataFrame(Src)
    Calc_by = Calc.groupby(['Symbol','TF','Date'], sort=0, group_keys=0)

    Calc['Time+1']      = (Calc['Datetime'] + pd.Timedelta(hours=1)).dt.time

    Calc['Day Open']    = Calc_by['Open']  .transform('first')
    Calc['Day High']    = Calc_by['High']  .transform('max')
    Calc['Day Low']     = Calc_by['Low']   .transform('min')
    Calc['Day Close']   = Calc_by['Close'] .transform('last')
    Calc['Day Hilo']    = Calc['Day High'] - Calc['Day Low']

    Calc['ID High']     = Calc_by['High'] .expanding().max()    .reset_index(drop=1)
    Calc['ID Low']      = Calc_by['Low']  .expanding().min()    .reset_index(drop=1)
    Calc['ID Hilo']     = Calc['ID High'] - Calc['ID Low']

    Calc['Bwd HL']      = Calc['ID Hilo']

    Calc['Bwd Chg']     =                     Calc['Open'] - Calc['Day Open']
    Calc['Fwd Chg']     = Calc['Day Close'] - Calc['Open']

    Calc['Bwd Chg Abs'] = Calc['Bwd Chg'].abs()
    Calc['Fwd Chg Abs'] = Calc['Fwd Chg'].abs()


    Calc['Fwd Bull']    = Calc['Fwd Chg'].apply(lambda x: +1 if (x >= 0) else nan)
    Calc['Fwd Bear']    = Calc['Fwd Chg'].apply(lambda x: -1 if (x <  0) else nan)

    Calc['Fwd Chg Pos'] = Calc['Fwd Chg Abs'] * Calc['Fwd Bull']
    Calc['Fwd Chg Neg'] = Calc['Fwd Chg Abs'] * Calc['Fwd Bear']

    Calc['Fwd HL']      = Calc['Day Hilo'] - Calc['ID Hilo']
    Calc['Fwd HL Pos']  = Calc['Fwd HL'] * Calc['Fwd Bull']
    Calc['Fwd HL Neg']  = Calc['Fwd HL'] * Calc['Fwd Bear']
    return Calc

In [ ]:
def STATS(Calc, HR, X, Y):
    pipe = []
    for b in [100, 200, 500, 800, 1000, 1200, 1500, 1800, 2000, 2200, 2500, 2800, 3000, 3200, 3500, 3800, 4000, 4200, 4500, 4800, 5000]:

        Df = Calc[(Calc['Time'] == dt.time(HR,00)) & (Calc[X] > b)]

        pipe.append({
            'Time =': dt.time(HR,00),
            f'{X} >': b,
            **Df[Y].describe().round(0).astype(int)
        })
    pass
    return pd.DataFrame(pipe)


Calc.groupby('Time')[['Fwd Chg']].describe().round(0).astype(int)
Calc.groupby('Time')[['Fwd Chg Abs']].describe().round(0).astype(int)
Calc.groupby('Time')[['Fwd Chg Pos']].describe().round(0).astype(int)
Calc.groupby('Time')[['Fwd Chg Neg']].describe().round(0).astype(int)